body {
    background-image: url(./img/exampleImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#action {
    float: left;
    padding-left: 30px;
    width: 40vw;
}

#absences {
    float: right;
    padding-right: 30px;
    width: 40vw;
}

.btn-width {
    margin-left: 5px;
    margin-top: 10px;
    width: 98%;
}

#radioDiv {
    align-content: center;
    text-align: center;
}

#contentDiv {
    margin-left: 1px;
}

a {
    width: 100%;
}

#myTable {
    width: 98%;
    margin-left: 5px;
    text-align: center;
}

#fileUpload {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #action {
        display: inline;
        padding: none;
    }
    #absences {
        display: inline;
        padding: none;
    }
}